<section class="content">
  <div class="box box-default">
    <div class="box-header">
      <h1><b>Película</b></h1>
    </div>
    <div class="box-body">
      <%= form_with(model: movie, local: true) do |form| %>
      <%= render "layouts/error_form_messages", :target => @movie %>
      <div class="row">
        <div class="form-group col-sm-3">
          <%= form.label :name, "Título" %>
          <%= form.text_field :name, class: "form-control", :required => true %>
        </div>
        <div class="form-group col-sm-2">
          <%= form.label :url_image, "Poster URL" %>
          <%= form.text_field :url_image, class: "form-control", :required => true  %>
        </div>
        <div class="form-group col-sm-1">
          <%= form.label :days, "Fechas"%>
          <%= form.number_field :days, class: "form-control", :required => true  %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= form.label :description,"Sinopsis" %>
          <%= form.text_area :description, class: "form-control", rows: "3", :required => true  %>
        </div>
      </div>
      <div class="box-footer">
        <%= form.submit "Guardar", class: "btn btn-lg btn-info" %>
      </div>
    <% end %>
  </div>
</div>
