<link rel="stylesheet" type="text/css" href="/assets/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="/assets/jquery.dataTables.min.js"></script>
<div class="box box-default">

  <div class="box-header">
    <h1>Péliculas</h1>
    <div class="select">
      <div class="row">
        <div class="col-sm-7 form-group">
          <h4>Seleccionar Fecha</h4>
          <div class="input-group selectdate">

            <div class="input-group-addon has-default">
              <i class="fas fa-calendar-day"></i>
            </div>
            <div class="form-group has-default">
              <input type="text" class="form-control pull-right" id="dateshowprac">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-info btn-lg btncustom" data-toggle="modal" data-target="#modal-newmovie"><i class="fas fa-plus"></i> Crear Nueva Pélicula</button>
    </div>
  </div>
  <div class="box-body">
    <div class="" id="vueapp">
      <div class="containerimage" v-for="movie in lists">
        <img v-bind:src="movie.url_image" class="image">
        <div class="middle">
          <button type="button" class="btn btn-info btncustom" data-toggle="modal" data-target="#modal-reservemovie" v-on:click="asignarmovieid(movie.day_id)">Reservar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL reservar -->
<div class="modal fade-in" id="modal-reservemovie">
  <div class="modal-dialog modal-SM">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
         <h3 class="modal-title" id="exampleModalLabel">Reservar</h3>
      </div>
      <%= form_with(model: @reservation, local: true) do |form| %>
      <div class="modal-body">

        <div class="row">
          <div class="form-group col-md-6">
            <%= label_tag :name,"Nombre Completo" %>
            <%= text_field_tag :name, "", class: "form-control", required: true %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag :phone,"Celular" %>
            <%= text_field_tag :phone, "", class: "form-control", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <%= label_tag :nit,"Cédula" %>
            <%= text_field_tag :nit, "", class: "form-control", required: true %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag :email,"Correo Eléctronico" %>
            <%= text_field_tag :email, "", class: "form-control", required: true %>
          </div>
        </div>
        <div class="form-group">
          <%= hidden_field_tag :day_id%>
        </div>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= submit_tag "Reservar Ahora",class: "btn btn-info btncustom float-right"%>
        </div>
      </div>
      <% end  %>
      </div>
    </div>
</div>
<!-- newmovie -->
<div class="modal fade-in" id="modal-newmovie">
  <div class="modal-dialog modal-SM">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
         <h3 class="modal-title" id="exampleModalLabel">Crear Pélicula</h3>
      </div>
        <%= form_with(model: @movie, local: true) do |form| %>
        <div class="modal-body">
          <div class="form-group ">
            <%= form.label :name, "Título" %>
            <%= form.text_field :name, class: "form-control", :required => true %>
          </div>
          <div class="form-group">
            <%= form.label :description,"Sinopsis" %>
            <%= form.text_area :description, class: "form-control", rows: "3", :required => true  %>
          </div>
          <div class="form-group ">
            <%= form.label :url_image, "Poster URL" %>
            <%= form.text_field :url_image, class: "form-control", :required => true  %>
          </div>
          <div class="form-group">
            <%= form.label :premiere, "Estreno"%>
            <%= form.text_field :premiere, class: "form-control", :required => true  %>
          </div>
          <div class="form-group">
            <%= form.label :dayshow, "Días de Presentación"%>
            <%= form.number_field :dayshow, id: :movie_dayshow, value:1, min:1, class: "form-control", :required => true %>
          </div>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= form.submit "Crear Nueva Pélicula", class: "btn btn-info btncustom float-right" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
  <script type="text/javascript">
    var tzoffset = (new Date()).getTimezoneOffset() * 60000;
    var localISOTime = new Date(Date.now() - tzoffset)
    var todayDate = localISOTime.toISOString().slice(0,10).replace("-","/").replace("-","/");
    var url1 ='/moviesdash.json';
    var vueapp = new Vue({
      el: '#vueapp',
      created: function(){
        this.getAga();
      },
      data:{
        lists:[]
      },
      methods:{
        getAga: function(){
          fechainit=document.getElementById("dateshowprac").value
          axios.get(url1+"?date="+fechainit).then(response=>{
            this.lists=response.data
          });
        },
        asignarmovieid: function(id){
          document.getElementById('day_id').value=id;
        }
      }
    })
  </script>
