<p>
  <strong>Título:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Sinopsis:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Poster:</strong>
  <img src="<%= @movie.url_image %>" alt="Avatar" class="image">

</p>

<p>
  <strong>Funciones:</strong>
  <% @movie.days.each do |day| %>
    <%= day.dateShow %> <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
