<link rel="stylesheet" type="text/css" href="/assets/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="/assets/jquery.dataTables.min.js"></script>
<div class="box box-default">
  <div class="box-header">
    <h1> Reservas Realizadas</h1>
  </div>
  <div class="box-body">
    <table  id="grid" class="grid table dt-responsive">
        <thead>
          <tr>
            <th>Película</th>
            <th>Día</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>correo Eléctronico</th>
            <th>Celular</th>
          </tr>
        </thead>

        <tbody>
          <% @reservations.each do |reserf| %>
            <tr>
              <td><%= reserf.day.movie.name %></td>
              <td><%= reserf.day.dateShow %></td>
              <td><%= reserf.nid %></td>
              <td><%= reserf.name %></td>
              <td><%= reserf.email %></td>
              <td><%= reserf.phone %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
