<p>
  <strong>Nombre:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @reservation.phone %>
</p>

<p>
  <strong>Correo Eléctronico:</strong>
  <%= @reservation.email %>
</p>



<p>
  <strong>Cédula:</strong>
  <%= @reservation.nid %>
</p>

<p>
  <strong>Día:</strong>
  <%= @reservation.day.dateShow %>
</p>


<p>
  <strong>Movie:</strong>
  <%= @reservation.day.movie.name %>
    <img src="<%= @reservation.day.movie.url_image %>" alt="Avatar" class="image">

</p>
