.acustom {
  padding: 20px 20px 20px 20px !important;
}
.acustom:hover {
  background-color: #00c0ef !important;
  border-radius: 20px 0px 0px 20px !important;
}


.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #0089f8;
}
.skin-blue .main-header .logo {
  font-size: 40px;
  background-color: #0089f8;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .sidebar a {
  color: white;
}
.box.box-default {
  border-top-color: white;
}
.conmovie{
  padding: 3%;
  background-color: white;
}

.btncustom{
   border: 2px solid #0089f8 !important;
   padding: 10px;
   border-radius: 20px !important;
   background-color: #0089f8 !important;
   min-width: 120px;
}
.btncustom:hover, .btncustom:active{
  border: 2px solid #0089f8 !important;
  background-color: #00c0ef !important;
}
.btncustom:focus {
  outline:0 !important;
}


//hover image

.containerimage {
  position: relative;
  float: left;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.selectdate{
  height: 40px !important;
}
.selectdate .form-control {
  border-radius: 0px 150px 150px 0px !important;
  border-left: solid transparent;
  height: 40px !important;

}

.selectdate .input-group-addon {
  border-radius: 150px 0px 0px 150px !important;
  border-right: solid transparent;
  height: 30px !important;
}


.select h4{
  padding-top: 10px;
  position: relative;
  float: left;
  margin: 0;
  margin-right: 10px;

}
.test {
  border: 2px solid red !important;
}

.image {
  opacity: 1;
  display: block;
  width: 200px;
  height: 270px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 4px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerimage:hover .image {
  opacity: 0.3;
}

.containerimage:hover .middle {
  opacity: 1;
}
