.alertcls {
  position: fixed;
  top: 30px;
  right: 50px;
  min-width: 300px;
  height: auto;
  color: white;
  box-shadow: 4px 4px 11px -4px rgb(36,36,36);
  border-radius: 10px;
  padding: 10px;
  z-index: 999999;
}

.alertcls-alert {
  background-color: #f56954;
}

.alertcls-info {
  background-color: #00c0ef;
}

.main-header .logo {
  padding: 50px;
  font-family: 'Montserrat', sans-serif !important;;
}

.main-sidebar,
.left-side {
  padding-top: 140px;
  padding-left: 45px;
}

.main-header .logo:hover {
  background-color: #0089f8 !important;
}
