<% if target.errors.any? %>
    <div class="error_explanation">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> ALERTA! <%= pluralize(target.errors.count, "ERROR") %> PROHIBIÓ GUARDAR ESTE REGISTRO:</h4>
        <ul>
          <% target.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
     </div>
    </div>
  <% end %>
