<!DOCTYPE html>
<html style="font-family: 'Montserrat', sans-serif !important;">
  <head>
    <title>Placeit360</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="skin-blue sidebar-mini">
      <div class="wrapper">
        <header class="main-header">
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">M</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Place</b>it</span>
        </a>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu" data-widget="tree">
            <li><a href="/reservations" class="acustom"><i class="far fa-calendar-alt"></i> <span>Reservas</span></a></li>
            <li><a href="/movies" class="acustom"><i class="fas fa-film"></i> <span>Películas</span></a></li>
          </ul>
        </section>
      </aside>
        <div class="content-wrapper conmovie">
          <% flash.each do |key, value| %>
            <% if key==:alert || key=="alert"; then ; cssx="alert" ; textoalerta="Alerta!" ; fonta="ban"; else ; cssx="info" ; textoalerta="Información"; fonta="thumbs-up"; end  %>
            <div class="alertcls alertcls-<%= cssx %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-<%= fonta %>"></i> <%= textoalerta %></h4>
                <%= value %>
            </div>
            <% end %>
            <%= yield %>
        </div>
      </div>
  </body>
</html>
